* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter, sans-serif;
}

body{
    font-family: 'inter', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
}
.Sign .Up-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.Sign .Up-box {
    background-color:#f2f2f2;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Sign .Up-title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color: #333;
}

.Sign .Up-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input-group {
    position: center;
    background-color:lightgray;
    border-radius: 45px;
    padding: 0.8rem 1.5rem;
    display: flex;
    align-items: center;
    margin: 5% 0;
}



.input-group i {
    color: black;
    margin: 10px 0;
    font-size: 16px;
    min-width: 20px;
}

.input-group input{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    flex: 1;
    padding: 5px;
    font-size: 1rem;
    color: #333;
}

.input-group input ::placeholder {
    color: #999;
}

.Sign .Up-button {
    background-color: #000;
    color: whitesmoke;
    width: 90px;
    margin: 0 auto;
    padding: 1rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
    align-items: center;
    margin-left: 30%;
}

/* Responsive design */

@media (max-width: 480px) {
    .Sign .Up-container {
        padding: 10px;
    }
    .Sign .Up-box {
        padding: 1rem;
    }
    .Sign .Up-box {
        padding: 1.5rem;
    } 
    .Sign .Up-title {
        font-size: 1rem;
    }
    .input-group{
        padding: 0.6rem 1.2rem;
    } 
    .input-group input {
        font-size: 1rem;
    }
    .Sign .Up-button {
        padding: 0.8rem;
    }

@media (max-width: 320px) {
    .Sign .Up-box {
        padding: 1rem;
    }
    .Sign .Up-title {
        font-size: 1rem;
    }
    
}

}